<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="theme-color" content="#343A40">

<title>{{ page.title }} | 희망복지재단</title>

<link href="{{ site.url }}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="{{ site.url }}/css/full-width-pics.css" rel="stylesheet">
<link href="{{ site.url }}/css/blog-post.css" rel="stylesheet">

<style>
    .wfh-header-bg {
        display: inline-block;
        padding: 12px;
        color: #f0f0f0;
        background-color: rgba(20, 20, 20, 0.8);
        /*box-shadow: 0px 0px 4px #404040;*/
    }
</style>