<!DOCTYPE html>
<html>

<head>

  {% include inner-head.html %}

  <style>
    th, td {
      white-space: nowrap;
    }
  </style>

</head>

<body>
<div style="min-height: calc(100vh - 229px + 53px);">
  <!-- Navigation -->
  {% include nav.html %}

  <header class="py-5 bg-image-full text-center" style="background-image: url('/img/index-1.png');">
    <div class="wfh-header-bg">
      <h1 class="display-4"><small style="color: #cccccc;">사회복지법인</small><br><b>희망복지재단</b></h1>
      <hr style="width: 50%; border-color: #cccccc;">
      <h3>후원 내역</h3>
    </div>
  </header>

  <div class="container py-4">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="mt-4">{{ page.title }}</h1>
        <p class="lead">작성일 | {{ page.date | date: '%Y년 %-m월 %-d일' }} 
          {% assign a = page.date | date: '%A' %}
          {% case a %}
            {% when 'Sunday' %} {{'일요일'}}
            {% when 'Monday' %} {{'월요일'}}
            {% when 'Tuesday' %} {{'화요일'}}
            {% when 'Wednesday' %} {{'수요일'}}
            {% when 'Thursday' %} {{'목요일'}}
            {% when 'Friday' %} {{'금요일'}}
            {% when 'Saturday' %} {{'토요일'}}
          {% endcase %}</p>
        <hr>
        {{ content }}
        <hr>
        <button class="btn btn-primary float-right mb-2" onclick="history.back()">뒤로</button>
      </div>
    </div>
  </div>
  
</div>
  <!-- Footer -->
  {% include footer.html %}

  <!-- Bootstrap core JavaScript -->
  <script src="{{ site.url }}/vendor/jquery/jquery.min.js"></script>
  <script src="{{ site.url }}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
